/* @font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./YOUSHEBIAOTIHEI-2.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adobe Heiti Std';
  src: url('./ADOBEFANHEITISTD-BOLD.OTF');
  font-weight: normal;
  font-style: normal;
} */
